---
import Layout from '../../layouts/Layout.astro';
import iconPerson from '../../content/svgs/person-fill.svg';
import iconComment from '../../content/svgs/chat-dots.svg';
import iconUpload from '../../content/svgs/upload.svg';
import iconHeart from '../../content/svgs/heart.svg';

export async function getStaticPaths() {
  const posts = await Astro.glob('../../content/markdown/post*.md');
  return posts.map(({ frontmatter, Content }) => {
    return {
      params: { postId: frontmatter.id },
      props: {
        Content: Content,
        postTitle: frontmatter.title,
        postAuthor: frontmatter.author,
        postDescription: frontmatter.description,
        postDate: frontmatter.date,
        postTags: frontmatter.tags,
        postLikes: frontmatter.likes,
        postComments: frontmatter.comments,
      },
    };
  });
}
const {
  Content,
  postTitle,
  postAuthor,
  postDescription,
  postDate,
  postTags,
  postLikes,
  postComments,
} = Astro.props;
---

<Layout title={`${postTitle} - ${postAuthor}`}>
  <header class='m-8 flex flex-col gap-1'>
    <a href='/posts' class='text-c-accent hover:underline'>&lt; Back to posts</a>
    <h2 class='text-2xl'>{postTitle}</h2>
    <div>
      <p class='text-lg'>{postAuthor}</p>
      <p>{postDate}</p>
    </div>
    <p>{postDescription}</p>
    <ul class='flex flex-wrap gap-x-2 gap-y-0'>
      {
        postTags.map((tag) => (
          <li class='text-c-dark'>
            <p>#{tag}</p>
          </li>
        ))
      }
    </ul>
  </header>
  <main id='main-blog-post'>
    <Content />
    <aside class='bg-c-lighter flex flex-row justify-between items-center'>
      <div class='flex flex-row gap-4'>
        <div class='flex flex-row gap-1 items-center'>
          <img class='w-4 h-4' src={iconHeart} alt='Likes:' />
          <p>{postLikes}</p>
        </div>
        <div class='flex flex-row gap-1 items-center'>
          <img class='w-4 h-4' src={iconComment} alt='Comments:' />
          <p>{postComments.length}</p>
        </div>
        <img class='w-4 h-4 relative top-1' src={iconUpload} alt='Share' />
      </div>
      <div>
        <p class='text-c-dark'>{postDate}</p>
      </div>
    </aside>
  </main>
  <aside class='m-4'>
    <div
      class='bg-c-dark border-l-4 border-c-darker rounded-sm my-2 pointer-events-none p-4 flex flex-row justify-between items-center'
    >
      <p class='text-c-lightest'>Write a reply!</p>
      <button class='opacity-50 bg-c-accent text-c-lightest rounded-sm py-1 px-4'>
        Reply
      </button>
    </div>
    <ul class='flex flex-col gap-0.5'>
      {
        postComments.map((comment) => (
          <li class='flex flex-col gap-2 bg-c-lighter rounded-sm p-4 border-l-4 border-c-light'>
            <span class='flex flex-row items-center gap-1'>
              <div class='bg-c-lightest w-5 h-5 rounded-full flex items-center justify-center'>
                <img class='w-4 h-4 rounded-full' src={iconPerson} alt='' />
              </div>
              <a href='#' class='text-c-dark pointer-events-none'>
                {comment.author}
              </a>
            </span>
            <p>{comment.text}</p>
            <aside class='flex flex-row justify-between'>
              <div class='flex flex-row items-center gap-1'>
                <img class='w-4 h-4' src={iconHeart} alt='Likes:' />
                <p>{comment.likes}</p>
              </div>
              <p class='text-c-dark'>{comment.date}</p>
            </aside>
          </li>
        ))
      }
    </ul>
  </aside>
</Layout>
