---
export interface Props {
  title: string;
}

const { title } = Astro.props;

import { SEOMetadata } from 'astro-seo-metadata';
import Navbar from '../components/Navbar.jsx';
import Footer from '../components/Footer.astro';
import '../sass/globals.scss';
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='theme-color' content='#3a6ddc' />

    <SEOMetadata
      siteName='A&B Blogs'
      title={title}
      description='A static web app developed within 10 days to mimic a blog site using Astro.js, Tailwind CSS, Markdown and React.js.'
      image=''
      favicon='/favicon.ico'
      author='QuevDev'
      copyright='© 2023 QuevDev'
      type='website'
      canonicalUrl={Astro.url.toString()}
      astroSitemap={true}
      astroGenerator={true}
    />
  </head>
  <body>
    <Navbar client:load />
    <div class='py-6'></div>
    <slot />
    <Footer />
  </body>
</html>
